<link rel="stylesheet" href="{{ 'projects-section.css' |  asset_url }}">
<div class="page-width">
    <h2>{{ section.settings.title }}</h2>

    {% assign reverse = false %}
    {% for proyect in section.blocks %}
    <div class="project  {% if reverse == true %}reverse{% endif %}">
        <img
          alt="Project 1"
          src="{{ proyect.settings.img |  img_url: 'master' }}" alt="img">
        <div class="project-description">
          <h2>{{ proyect.settings.title }}</h2>
          <p>{{ proyect.settings.description }}</p>
        </div>
      </div>
        {% if reverse == false %}
            {% assign reverse = true %}
        {% else %}
            {% assign reverse = false %}
        {% endif %}
      
    {% endfor %}
        
</div>

 
{% schema %}
  {
    "name": "Projects",
    "settings": [
      {
        "id": "title",
        "type": "text",
        "label": "title",
        "default": "Remodeled House Projects"
      }
    ],
    "blocks": [
      {
        "type": "projects",
        "name": "projects",
        "settings": [
          {
            "id": "title",
            "type": "text",
            "label": "title",
            "default": "Modern Beach House"
          },
          {
            "id": "description",
            "type": "textarea",
            "label": "description",
            "default": "This remodel transformed an old beach house into a modern coastal retreat. Expanding windows and the use of contemporary materials create a bright and inviting atmosphere."
          },
          {
            "id": "img",
            "type": "image_picker",
            "label": "image"
          }
        ]
      }
    ]
  }
{% endschema %}