<style>
  .testimonial {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: linear-gradient(to bottom, #b4d4e4, #4898c4); 
    width: 90%;
    overflow-x: hidden;
  
  }
  .testimonial p{
    max-width: calc(100% - 70px);
    font-size: 18px;
    font-height: 1.5;
 
  }
  .testimonial img {
    max-width: 80%;
    height: 120px;
    border-radius: 50%;
    margin-right: 10px;
    float: left;
    object-fit: cover;
  }
  
  .swiper {
  overflow-x: hidden; 
}

</style>


<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<div class="page-width">

  <h2>{{ section.settings.title }}</h2>

  <div class="swiper">

    <div class="swiper-wrapper">

    {% for block in section.blocks %}
      <div class="swiper-slide ">
      <div class=" testimonial">
        <img src="{{ block.settings.img | img_url: 'master' }}" alt="{{ block.settings.name }}">
        <div>
          <strong>{{ block.settings.name }}</strong>
          <p>{{ block.settings.description }}</p>
        </div>
      </div>
      </div>
    {% endfor %}
    

    </div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

  </div> 

</div>


<script>
    
  const swiper = new Swiper('.swiper', {

    loop: true,

    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
    autoplay: {
      delay: 2500,
      disableOnInteraction: false,
    },
    spaceBetween: 40,
    
 
  });
  /*document.addEventListener('DOMContentLoaded', function () {
        const testimonials = document.querySelectorAll('.testimonial');
        const screenHeight = window.innerHeight;
  
        function fadeInTestimonials() {
            testimonials.forEach(function (testimonial) {
                const testimonialPosition = testimonial.getBoundingClientRect().top;
                if (testimonialPosition < screenHeight) {
                    testimonial.classList.add('in-view');
                }
            });
        }
  
        window.addEventListener('scroll', function () {
            fadeInTestimonials();
        });
  
        fadeInTestimonials(); // Mostrar testimonios que ya están en la vista al cargar la página
    }); */
</script>


{% schema %}
  {
    "name": "Testimonials",
    "settings": [
      {
        "id": "title",
        "type": "text",
        "label": "title",
        "default": "Testimonials"
      }
    ],
    "blocks": [
      {
        "type": "testimonials",
        "name": "Testimonial",
        "settings": [
          {
            "id": "name",
            "type": "text",
            "label": "name",
            "default": "Will Armstrong"
          },
          {
            "id": "description",
            "type": "textarea",
            "label": "description",
            "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
          },
          {
            "id": "img",
            "type": "image_picker",
            "label": "image"
          }
        ]
      }
    ]
  }
{% endschema %}